@import 'tippy.js/themes/light-border.css';

.pop-up {
    width:230px;
    height: 130px;
    padding: 10px 35px 10px 35px;
    font-size: 25px;
    font-family: "Roboto";
    color: rgb(0, 0, 0);
    line-height: 1.333;
    text-align: left;   
}

.tippy-popper {
    left: 20px !important;
}

.tippy-tooltip.light-border-theme {
    border: 2px solid #e1e1e1 !important;
    box-shadow: none !important;
    border-radius: 15px !important;
}

.register-section {
    background: #ffffff;
    border-top: 3px solid #e1e1e1;
}

.register-content {
    padding: 60px 0 110px 0;
    display: flex;
    flex-direction: column;
    @media(max-width: 1400px) {
        padding: 30px 0 50px 0;
    }
    a {
        text-decoration: none;
    }
    .title {
        font-size: 52px;
        font-family: "Maven Pro";
        color: rgb(0, 0, 0);
        font-weight: bold;
        line-height: 1.167;
        margin-bottom: 30px;
        @media(max-width: 1400px) {
            font-size: 28px;
            margin-bottom: 15px;
        }
        @media(max-width: 400px) {
            font-size: 24px;
        }
    }
    .desc {
        font-size: 28px;
        font-family: "Roboto";
        color: rgb(0, 0, 0);
        line-height: 2.191;
        margin-bottom: 60px;
        font-weight: 500;
        @media(max-width: 1400px) {
            font-size: 16px;
            margin-bottom: 10px;
        }
    }
    div {
        display: flex;
        flex-direction: column;
        // margin-bottom: 30px;
        p {
            font-size: 30px;
            font-family: "Roboto";
            color: rgb(0, 0, 0);
            line-height: 2.045;
            font-weight: 500;
            @media(max-width: 1400px) {
                font-size: 20px;
            }
            @media(max-width: 510px) {
                font-size: 18px;
            }
            span {
                font-weight: lighter;
            }
        }
        input {
            height: 60px;
            width: 506px;
            border: 2px solid #959595;
            background: #ffffff !important;
            outline: none;
            font-size: 34px;
            font-family: "Roboto";
            padding: 10px;
            @media(max-width: 1400px) {
                width: 316px;
                height: 20px;
                font-size: 24px;
            }
            @media(max-width: 400px) {
                width: 236px;
            }
        }
    }
    .pass_repeat {
        margin-bottom: 50px;
        @media(max-width: 1400px) {
            margin-bottom: 25px;
        }
    }
    .register-button {
        width: 270px;
        height: 80px;
        border-radius: 10px;
        outline: none;
        border:none;
        background-color: #682792;
        font-size: 30px;
        font-family: "Maven Pro";
        color: rgb(255, 255, 255);
        font-weight: bold;
        line-height: 1.167;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0px;
        @media(max-width: 1400px) {
            width: 260px;
            height: 60px;
            font-size: 20px;
        }
    }
    .signIn {
        margin-top: 35px;
        font-size: 27px;
        font-family: "Maven Pro";
        color: rgb(0, 0, 0);
        line-height: 1.167;
        @media(max-width: 1400px) {
            font-size: 17px;
        }
        a {
            color: #00afe8;
            text-decoration: none;
        }
    }
}

